version: '3'
services:
    # https://hub.docker.com/r/linuxserver/jackett/
    jackett.server:
        image: "linuxserver/jackett"
        networks:
          - backend
        ports:
          - "9117:9117"
        volumes:
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/jackett/config:/config
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/downloads:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil
    # https://hub.docker.com/r/linuxserver/qbittorrent/
    qbittorrent.server:
        image: "linuxserver/qbittorrent"
        networks:
          - backend
        ports:
          - "6881:6881"
          - "6881:6881/udp"
          - "8088:8088"
        volumes:
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/qbittorrent/config:/config
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/downloads:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil
          UMASK_SET: "022"
          WEBUI_PORT: "8088"
    # https://hub.docker.com/r/emby/embyserver/
    emby.server:
        image: "emby/embyserver:latest"
        networks:
          - backend
        ports:
          - "8920:8920" # To expose the HTTPS port
          - "8096:8096" # To expose the HTTP port
        volumes:
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/emby/config:/config # This is mandatory
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/downloads:/mnt/share1 # To mount a first share
          # - emby-share2:/mnt/share2 # To mount a second share
        environment:
          UID: "1000" # The UID to run emby as (default: 2)
          GID: "1001" # The GID to run emby as (default 2)
          GIDLIST: "1001" # A comma-separated list of additional GIDs to run emby as (default: 2)
        # depends_on:
        #     - db
    # https://hub.docker.com/r/linuxserver/sonarr/
    sonarr.server:
        image: "linuxserver/sonarr"
        networks:
          - backend
        ports:
          - "8989:8989"
        volumes:
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/sonarr/config:/config
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/sonarr/tv:/tv
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/downloads:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil
        depends_on:
            - qbittorrent.server
            - jackett.server
    # https://hub.docker.com/r/linuxserver/radarr/
    radarr.server:
        image: "linuxserver/radarr"
        networks:
          - backend
        ports:
          - "7878:7878"
        volumes:
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/radarr/config:/config
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/radarr/movies:/movies
          - d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/downloads:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil
        depends_on:
            - qbittorrent.server
            - jackett.server

networks:
  backend:

# ## For create this named-volumes (S.O. LINUX), use:
# ### docker volume create --opt device=/FOLDER/SHARE1 emby-share1
## volumes:
  ##emby-config: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/emby/config
  ##emby-share1: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/downloads
  ##sonarr-config: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/sonarr/config
  ##sonarr-tv: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/sonarr/tv
  ##radarr-config: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/radarr/config
  ##radarr-movies: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/radarr/movies
  ##qbittorrent-config: ## d:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/qbittorrent/config
  ##jackett-config: ##D:/reinaldo/Documents/GitHub/docker-tv-stack/volumes/jackett/config