version: '2'
services:
    # https://hub.docker.com/r/linuxserver/jackett/
    jackett-server:
        image: "linuxserver/jackett"
        networks:
          - backend
        ports:
          - "9117:9117"
        volumes:
          - jackett-config:/config
          - emby-share1:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil
    # https://hub.docker.com/r/linuxserver/qbittorrent/
    qbittorrent-server:
        image: "linuxserver/qbittorrent"
        networks:
          - backend
        ports:
          - "6881:6881"
          - "6881:6881/udp"
          - "8088:8088"
        volumes:
          - qbittorrent-config:/config
          - emby-share1:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil
          UMASK_SET: "022"
          WEBUI_PORT: "8088"
    # https://hub.docker.com/r/emby/embyserver/
    emby-server:
        image: "emby/embyserver:latest"
        networks:
          - backend
        ports:
          - "8920:8920" # To expose the HTTPS port
          - "8096:8096" # To expose the HTTP port
        volumes:
          - emby-config:/config # This is mandatory
          - emby-share1:/mnt/share1 # To mount a first share
          # - emby-share2:/mnt/share2 # To mount a second share
        environment:
          UID: "1000" # The UID to run emby as (default: 2)
          GID: "100" # The GID to run emby as (default 2)
          GIDLIST: "100" # A comma-separated list of additional GIDs to run emby as (default: 2)
    # https://hub.docker.com/r/linuxserver/sonarr/
    sonarr-server:
        image: "linuxserver/sonarr"
        networks:
          - backend
        ports:
          - "8989:8989"
        volumes:
          - sonarr-config:/config
          - sonarr-tv:/tv
          - emby-share1:/downloads
        environment:
          PUID: "1001" # The UID to run emby as (default: 2)
          PGID: "1001" # The GID to run emby as (default 2)
          TZ: "America/Sao_Paulo" # Timezone SP/Brazil

          # TODO: Create for use "radarr" application too.  

networks:
  backend:

# ## For create this named-volumes (S.O. LINUX), use:
# ### docker volume create --opt device=/FOLDER/SHARE1 emby-share1
volumes:
  emby-config:
  emby-share1:
  emby-share2:
  sonarr-config:
  sonarr-tv:
  qbittorrent-config:
  jackett-config: